:root {
    --main:#111;
    --fundo-card:#F2F2F2;
    --text-principal:#ffffff;
    --paragrafo:#333333;
    --botoes:#E60000;
    --botoes-hover:#990000;
    --botoes-text:#FFFFFF;
    --prioridade-importante: #FFFF00;
    --prioridade-urgente: #FF0000;
    --prioridade-normal: #00FF00;
}

.painel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Centraliza os cards */
  background-color: #111;
  min-height: 100vh;
}

.card-solicitacao {
  background: #222;
  color: white;
  border-left: 6px solid gray; /* Borda lisa */
  padding: 16px;
  width: 300px;
  border-radius: 10px;
  font-family: 'Courier New', monospace;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
  order: 3; /* Ordem padrão */
}

.card-solicitacao h2, p {
  margin-bottom: 0.5rem;
}

.card-solicitacao:hover {
  transform: scale(1.03);
}

/* Estilos por prioridade */
.prioridade-normal {
  border-left: 6px solid var(--prioridade-normal);
  order: 3; /* Vai para direita */
}

.prioridade-importante {
  border-left: 6px solid var(--prioridade-importante) !important;
  order: 2; /* Fica no meio */
}

.prioridade-urgente {
  border-left: 6px solid var(--prioridade-urgente);
  order: 1; /* Vai para esquerda */
}
